@model iTechArt.iTechQuiz.WebApp.ViewModels.EditPasswordViewModel

@section Styles{
    <link rel="stylesheet" href="~/css/sidebar.css" />
    <link rel="stylesheet" href="~/css/admin.css" />
}

<partial name="_SidebarPartial" />
<div class="main-wrapper-centered">
    <img />
    <section class="admin-edit">
        <form class="admin-edit__form" asp-action="EditPassword" method="post">
            <h2>
                Edit @Model.UserName's password
            </h2>
            <div class="admin-edit__input-wrapper">
                <input asp-for="Id" hidden />
                <input asp-for="UserName" hidden />
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="admin-edit__input-validation"></span>
                <div class="admin-edit__password-validation-summary">
                    @Html.ValidationMessage("PasswordTooShort", new { @class = "admin-edit__password-validation" })
                    @Html.ValidationMessage("PasswordRequiresDigit", new { @class = "admin-edit__password-validation" })
                    @Html.ValidationMessage("PasswordRequiresLower", new { @class = "register-input-password-validation" })
                </div>
                <input asp-for="RepeatPassword" class="form-control" placeholder="Repeat password" />
                <span asp-validation-for="RepeatPassword" class="admin-edit__input-validation"></span>
            </div>
            <div class="admin__buttons">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="button">Back to user</a>
                <input type="submit" value="Edit" class="admin__submit" />
            </div>
        </form>
    </section>
</div>