@using iTechArt.iTechQuiz.Domain.Models
@model iTechArt.iTechQuiz.WebApp.ViewModels.Constructor.QuestionViewModel

@if (Model.IsEditable)
{
    <div class="new-survey-main__editable-question">
        <div class="new-survey-main__editable-question__settings">
            <div class="new-survey-main__editable-question__settings__move">
                <div class="new-survey-main__editable-question__settings__move-arrows">
                    @if (Model.Number != 1)
                    {
                        <a class="new-survey-main__editable-question__settings__arrow" onclick="MoveUp('@Model.Id')">
                            <img src="~/img/up.svg" width="15"/>
                        </a>
                    }
                    @if (Model.Number != Convert.ToInt32(ViewData["PageQuestionsAmount"]))
                    {
                        <a class="new-survey-main__editable-question__settings__arrow" onclick="MoveDown('@Model.Id')">
                            <img src="~/img/down.svg" width="15"/>
                        </a>
                    }
                </div>
                @if (Convert.ToInt32(ViewData["PageQuestionsAmount"]) != 1)
                {
                    <label>Move</label>
                }
            </div>
            <div class="new-survey-main__editable-question__settings__delete-and-require">
                <div class="new-survey-main__editable-question__settings__require">
                    @Html.CheckBoxFor(p => p.IsRequired)
                    <label asp-for="@Model.IsRequired"></label>
                </div>
                <a class="new-survey-main__editable-question__settings__delete" onclick="DeleteQuestion('@Model.Id')">
                    <img src="~/img/remove.svg" width="15"/>
                </a>
            </div>
        </div>
        <div class="new-survey-main__question">
            <input asp-for="@Model.Id" hidden />
            <input asp-for="@Model.Number" hidden />
            <input asp-for="@Model.Content" hidden />
            <input asp-for="@Model.IsEditable" hidden />
            @switch (Model.Type)
            {
                case QuestionType.SingleAnswer:
                    {
                        <partial name="Survey/_SingleAnswerPartial" model="Model" />
                        break;
                    }
                default:
                    {
                        <partial name="Survey/_SingleAnswerPartial" model="Model" />
                        break;
                    }
            }
        </div>
        <div class="new-survey-main__editable-question__buttons">
            <input type="button" class="button" value="Save" onclick="SaveQuestion('@Model.Id')"/>
            <input type="button" class="red-button" value="Cancel" onclick="EditQuestion('@Model.Id')"/>
        </div>
    </div>
}
else
{
    <div class="new-survey-main__question">
        <input asp-for="@Model.Id" hidden />
        <input asp-for="@Model.Number" hidden />
        <input asp-for="@Model.Content" hidden />
        @switch (Model.Type)
        {
            case QuestionType.SingleAnswer:
                {
                    <partial name="Survey/_SingleAnswerPartial" model="Model" />
                    break;
                }
            default:
                {
                    <partial name="Survey/_SingleAnswerPartial" model="Model" />
                    break;
                }
        }
    </div>
}