@using iTechArt.iTechQuiz.Domain.Models
@model iTechArt.iTechQuiz.WebApp.ViewModels.Constructor.QuestionViewModel

@if (Model.IsEditable)
{
    <div class="new-survey-main__editable-question">
        <div class="new-survey-main__editable-question__settings">
            <div class="new-survey-main__editable-question__settings__move">
                <div class="new-survey-main__editable-question__settings__move-arrows">
                    
                </div>
                @if (Convert.ToInt32(ViewData["PageQuestionsAmount"]) != 1)
                {
                    <label>Move</label>
                }
            </div>
            <div class="new-survey-main__editable-question__settings__delete-and-require">
                <div class="new-survey-main__editable-question__settings__require">
                    @Html.CheckBoxFor(p => p.IsRequired)
                    <label asp-for="@Model.IsRequired"></label>
                </div>
            </div>
        </div>
        <div class="new-survey-main__question">
            <input asp-for="@Model.Number" hidden />
            <input asp-for="@Model.Content" hidden />
            <input asp-for="@Model.IsEditable" hidden />
            @switch (Model.Type)
            {
                case QuestionType.SingleAnswer:
                    {
                        <partial name="Survey/_SingleAnswerPartial" model="Model" />
                        break;
                    }
                default:
                    {
                        <partial name="Survey/_SingleAnswerPartial" model="Model" />
                        break;
                    }
            }
        </div>
        <div class="new-survey-main__editable-question__buttons">
        </div>
    </div>
}
else
{
    <div class="new-survey-main__question">
        <input asp-for="@Model.Number" hidden />
        <input asp-for="@Model.Content" hidden />
        @switch (Model.Type)
        {
            case QuestionType.SingleAnswer:
                {
                    <partial name="Survey/_SingleAnswerPartial" model="Model" />
                    break;
                }
            default:
                {
                    <partial name="Survey/_SingleAnswerPartial" model="Model" />
                    break;
                }
        }
    </div>
}